body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
    text-align: center;
}

.header {
    background-color: #0077cc;
    color: white;
    padding: 40px 20px;
}

.profile-img {
    border-radius: 50%;
    width: 150px;
    margin-bottom: 10px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}